*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
display:flex;
justify-content:center;
padding:40px;
background:linear-gradient(#AEB784,#4D513A,#4D514A);
}

.page{
max-width:900px;
width:100%;
margin:auto;
}

/* boutons */

.top-buttons{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.btn{
padding:10px 20px;
background:#4A4F1D;
color:white;
text-decoration:none;
border-radius:5px;
}

.btn:hover{
background:#AEB784;
transform:scale(1.05);
}

/* message */

.message{
display:none;
position:fixed;
top:20px;
right:20px;
background:#4b4f1c;
color:white;
padding:10px 20px;
border-radius:5px;
}

/* conteneur */

.cv-container{
background:white;
}

/* photo + header */

.top{
display:flex;
align-items:center;
background:#a8ac7c;
width: 56%;
padding:30px;
margin-left: 11%;
margin-top: 5%;
position: absolute;
border-radius:3%;
z-index: 2;
height: 250px;
}

.photo{
width:340px;
height:200px;
border-radius:50%;
overflow:hidden;
margin-right:10px;
margin-left: -20%;
}

.photo img{
width:100%;
height:100%;
object-fit:cover;
border-radius:50%;
border:6px solid white;

}

.header h1{
font-size:28px;
margin-bottom:10px;
margin-left: 100px;
}

.header h2{
font-size:18px;
margin-bottom:10px;
margin-left: 100px;
}
.header h2::after{
    content:"";
    display:block;
    width:80px; /* largeur de la bordure */
    height:3px;
    background:#4b4f1c;
    margin-top:5px;
}


.header p{
line-height:1.6;
margin-left: 100px;
}

/* contenu */

.content{
display:flex;
}

/* gauche */

.left{
width:35%;
background:#4b4f1c;
color:white;
padding:30px;
height: 100%;
padding-top:350px;
}

.left h3{
margin-top:20px;
margin-bottom:10px;
}

.left ul{
margin-left:15px;
}

.left li{
margin-bottom:8px;
line-height:1.6;
}


.icon{
display:flex;
align-items:center;
gap:10px;
margin-bottom:8px;
}

.icon img{
width:20px;
height:20px;
}

/* droite */

.right{
width:65%;
padding:35px;
background:#f3f3f3;
padding-top: 350px;
}

.section{
margin-bottom:30px;
}

.right li{
margin-bottom:6px;
line-height:1.6;
margin-left: 15px;
}
.section h2{
color:#4b4f1c;
margin-bottom:10px;
}

.section h2::after{
    content:"";
    display:block;
    width:150px; /* longueur de la bordure */
    height:4px;
    background:#4b4f1c;
    margin-top:5px;
}


/* responsive tablette */

@media screen and (max-width:900px){

.top{
width:70%;
margin-left:15%;
border-radius:0;
}

.photo{
width:350px;
height:150px; /* 🔥 même valeur */
margin-left:-15%;
}

.header h1{
margin-left:60px;
}

.header h2,
.header p{
margin-left:40px;
}

}
/* responsive téléphone */

@media screen and (max-width:600px){

.top{
position:relative;
width:100%;
margin:0;

flex-direction:column;
padding:20px;
border-radius:0;



padding:20px;

border-radius:0;

/* 🔥 TRÈS IMPORTANT */
height:auto;       /* enlève le height fixe */
z-index:auto;      /* reset */
}

.photo{
margin:0 auto;
width:150px;
height:150px;
}

.header h1,
.header h2,
.header p{
margin-left:0;
padding: 6px;
}

.content{
flex-direction:column;
}

.left{
width:100%;
padding-top:40px;
}

.right{
width:100%;
padding-top:40px;
}

.top-buttons{
flex-direction:column;
gap:10px;
}

.btn{
text-align:center;
}
.right h2 {
    font-size: 21px;
}

}