
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(#AEB784,#4D513A,#4D513A);
}

/* boutons */
.cv-buttons {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:10px;
    width:95%;
    max-width:900px;
    margin:20px auto;
}
.btn {
    padding:10px 20px;
    background:#4A4F1D;
    color:white;
    text-decoration:none;
    border-radius:5px;
}
.btn:hover {
    background: #AEB784;
    transform: scale(1.05);
}

/* conteneur cv */
.cv-container {
    width:95%;
    max-width:900px;
    margin:20px auto;
    background:white;
    line-height:20px;
    padding-top:20px;
}

/* header */
.header {
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
    background-color:#AEB784;
    padding:20px;
    border-radius:5px;
}

.photo img {
    width:140px;
    height:140px;
    border-radius:50%;
    border:4px solid black;
    object-fit:cover;
    margin-bottom:15px;
}

.intro h1 {
    font-size:24px;
    text-align:center;
    margin-bottom:8px;
}

.intro h2 {
    font-size:18px;
    text-align:center;
    margin-bottom:15px;
}

.intro p{
    font-size:14px;
    text-align:center;
}

/* main */
.main {
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;
}

/* colonne gauche */
.left {
    background-color:#41431B;
    padding:20px;
    color:white;
    border-radius:5px;
}
.left h3 {
    margin-bottom:10px;
    font-size:16px;
}
.left li, .left p {
    font-size:14px;
    margin-bottom:5px;
}

/* colonne droite */
.right {
    width:100%;
}
.right h3 {
    color:#6D7145;
    margin-top:15px;
    margin-bottom:10px;
    font-size:16px;
}
.experience, .formation {
    margin-bottom:15px;
}
.experience h4 {
    font-weight:bold;
    position:relative;
    display:inline-block;
    cursor:pointer;
}
.experience h4::after {
    content:"";
    position:absolute;
    left:0;
    bottom:-2px;
    width:0;
    height:2px;
    background-color:#6D7145;
    transition:width 0.3s ease;
}
.experience h4:hover::after {
    width:100%;
}
.ligne1 {
  width: 160px;
  border: none;
  height: 3px;
  background-color: #41431B;
  margin-top: -7px;
  margin-bottom: 14px;
}
.ligne2 {
  width: 60px;
  border: none;
  height: 3px;
  background-color: #41431B;
  margin-top: -7px;
  margin-bottom: 14px;
}

/* animations*/
.btn{
    padding:10px 20px;
    background:#4A4F1D;
    color:white;
    text-decoration:none;
    border-radius:5px;
}
.btn:hover {
    background: #AEB784;
    transform: scale(1.05);
}

.right h4:hover::after {
    width: 100%;
}
.right h4 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.right h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #6D7145;
    transition: width 0.3s ease;
}
.right h4:hover::after {
    width: 100%;
}
.left h3 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.left h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #6D7145;
    transition: width 0.3s ease;
}
.left h3:hover::after {
    width: 100%;
}
/*les media queries*/  

@media (min-width:768px){
    .photo img {
        width:160px;
        height:160px;
    }
    .intro h1 {
        font-size:28px;
    }
    .intro h2 {
        font-size:20px;
    }
    .main {
        flex-direction:column;
        gap:25px;
    }
}
@media (min-width:992px){
    .header {
        flex-direction:row;
        align-items:center;
        text-align:left;
        gap:30px;
    }
    .intro {
        text-align:left;
    }
    .main {
        flex-direction:row;
        gap:20px;
    }
    .left {
        width:30%;
    }
    .right {
        width:70%;
    }
    .photo img {
        width:180px;
        height:180px;
    }
    .intro h1 {
        font-size:32px;
    }
    .intro h2 {
        font-size:22px;
    }
}
/* impressions*/
@media print {

    body {
        background: white;
    }

    .cv-buttons {
        display: none; 
    }
    }
    


      