* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 16px;
}
body {
  display: flex;

  flex-direction: column;
 
  align-items: center;
 background:linear-gradient(#AEB784,#4D513A,#4D514A);
 padding: 20px;

 
  
}
.profil {
  background-color: #aeb784;
   width: 100%;
  max-width: 900px;   
  padding: 20px;
  text-align: end;
}
  .profil p{
    font-size: 15px;
    margin-right: 70px;
  }
 .profil h1{
    margin-right: 70px;
    font-size: 45px;
  }

.ronder_cercle_image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: block;
  margin: 0px auto;
  max-width: 100%;
  height: auto;
}
.container {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 900px;   
  background-color: white;

flex-wrap: wrap;


  }
    .container_left {
 
    background-color: #41431b;
    color: white;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    padding: 10px;
    margin-top: -160px;
    margin-left: 25px;
      flex:1;}
  .container_right {
    flex: 2;
  
    padding: 5px;
  }

#education {
  padding-top: 25px;
 
}
#education hr{
    width: 300px;
    margin-top: -7px;
    margin-left: 80px;
  }
#education p{
    margin-top: 10px;
    margin-left: 20px;
  
  }
#Competences_cles {
  padding-top: 20px;
  hr {
    width: 230px;
    margin-top: -7px;
    margin-left: 160px;
  }
}
#langues {
  padding-top: 20px;
  
}
#langues hr {
    width: 320px;
    margin-top: -7px;
    margin-left: 75px;
  }
#contact {
  padding-top: 20px;
 
}

#contact hr{
    width: 320px;
    margin-top: -7px;
    margin-left: 75px;
  }
  #contact i{
    padding: 5px;
  }
#contact p{
  
    margin-left: 15px;
  padding-top: 10px;
  }
ul li {
  margin-left: 35px;
  padding-top: 10px;
}
#experience h2{
    margin-top: 10px;
    margin-bottom: 10px;
  }
   #experience   hr {
    width: 300px;
    margin-top: -15px;
    margin-left: 90px;
    color: rgb(4, 0, 0);
  }

#profil_info  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
   
  }
#profil_info hr {
    width: 320px;
    margin-top: -15px;
    margin-left: 90px;
  } 
#profil_info p {
    padding-top: 20px;
    margin-right: 12px;
  }

.timeline_vertical {
  border-left: 2px solid black;

  padding: 0 20px 0 30px;
  margin-left: 10px;
  margin-top: 20px;
}
div {
  position: relative;
}
.timeline_detail::before {
  content: "";
  display: block;
  border-radius: 60%;
  border: 3px solid black;
  position: absolute;
  top: 0px;
  left: -45px;
  padding: 10px;
  background-color: white;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
   
  }

 
  .profil {
    text-align: end;
   
  
  }

 
  
}