*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(#AEB784,#4D513A,#4D514A);
    padding:40px 20px;
}

/* boutons */

.top-buttons{
    max-width:1100px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:20px;
}

.btn{
    padding:12px 25px;
    border-radius:30px;
    border:none;
    cursor:pointer;
    font-weight:600;
    text-decoration:none;
    color:white;
}

.btn-retour,
.btn-download{
    background:#4A4F1D;
}
.btn-retour{
    background:#4A4F1D;
    border:2px solid rgba(255,255,255,0.5);
    color: white;
}

.btn-retour:hover{
    background:  #E3DBBB;
    color: white;
}

.btn-download{
    background: #4A4F1D;
    color: #fff;
}

.btn-download:hover{
        background:#E3DBBB;
        border: none;

}

/* message */

.message{
    text-align:center;
    margin-bottom:15px;
    color:#fff;
    font-weight:600;
    display:none;
    background:#4D514A;
    padding:10px;
    border-radius:30px;
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid rgba(255,255,255,0.3);
}

/* CV */

.cv-container{
    max-width:1100px;
    margin:auto;
    background:white;
    display:flex;
    flex-wrap:wrap;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

/* HEADER */

.header{
    width:100%;
    background:linear-gradient(90deg,#4D514A,#4D513A);
    color:white;
    padding:40px;
}

.header h1{
    font-size:34px;
    text-align: center;

}

.header h2{
    font-weight:400;
    margin-top:5px;
    text-align: center;
    margin-right: 60px;
}

/* LEFT */

.left{
    width:35%;
    background:#AEB784;
    padding:120px 30px 30px 30px;
    position:relative;
}

/* photo */

.profile-pic{
    width:160px;
    height:160px;
    border-radius:50%;
    object-fit:cover;
    position:absolute;
    top:-80px;
    left:50%;
    transform:translateX(-50%);
}

/* sections */

.section{
    margin-bottom:25px;
}

.section h3{
    color:white;
    border-bottom:2px solid #4D514A;
    padding-bottom:5px;
    margin-bottom:10px;
}

.section li{
    margin-bottom:8px;
    font-size:14px;
}

/* RIGHT */

.right{
    width:65%;
    padding:40px;
}

/* TITRES AVEC ICONES */

.profilImagText,
.expImagText,
.eduImagText{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:8px;
}

.profile,
.experience,
.education{
    width:26px;
    
}

/* ligne sous titre */

.lignehorizsousprof::after{
    content:'';
    display:block;
    width:738%;
    height:3px;
    background:#555;
    margin-top:5px;
}
.lignehorizsousexp::after{
    content:'';
    display:block;
    width:300%;
    height:3px;
    background:#555;
    margin-top:5px;
}
.lignehorizsoused::after{
    content:'';
    display:block;
    width:558%;
    height:3px;
    background:#555;
    margin-top:5px;
}

/* timeline */

.ligneVerticale{
    position:relative;
    padding-left:30px;
    margin-bottom:30px;
}

.ligneVerticale::before{
    content:'';
    position:absolute;
    left:10px;
    top:0;
    width:3px;
    height:100%;
    background:#555;
}

/* points timeline */

.pointPourProf,
.pointPourExp,
.pointPourExp1,
.pointPourExp2,
.pointPourEdu,
.pointPourEdu1{
    position:absolute;
    left:3px;
    width:16px;
    height:16px;
    border-radius:50%;
    background:#fff;
    border:3px solid #555;
}

.pointPourProf{top:50px; }
.pointPourExp{top:14px;}
.pointPourExp1{top:160px;}
.pointPourExp2{top:273px;}
.pointPourEdu{top:12px;}
.pointPourEdu1{top:74px;}

/* profile */

.profiPara{
    margin-left:15px;
    padding-top:10px;
    line-height:1.6;
}

/* JOB */

.job{
    margin-bottom:20px;
}

.job h4{
    color:#E3DBBB;
    margin-left:13px;
    padding-top:10px;
}

.date{
    float:right;
    font-size:14px;
    font-weight:bold;
    color:#4D514A;
}

.job ul{
    padding-left:20px;
    margin-top:5px;
    margin-left:15px;
}

.job li{
    margin-bottom:5px;
    font-size:14px;
}

/* education */

.edu{
    margin-bottom:15px;
    padding-top:10px;
    margin-left:15px;
}

/* ====================== */
/* RESPONSIVE */
/* ====================== */

@media(max-width:900px){

    .cv-container{
        flex-direction:column;
    }

    /* IMAGE AU DESSUS */

    .profile-pic{
        position:relative;
        top:0;
        left:0;
        transform:none;
        display:block;
        margin:auto;
        margin-bottom:20px;
        width:140px;
        height:140px;
    }

    .left,
    .right{
        width:100%;
    }

    .left{
        padding-top:60px;
    }

    .header{
        padding:20px 15px;
    }

    .header h1{
        font-size:22px;
    }

    .header h2{
        font-size:16px;
    }

    
}

/* tablette */

@media(max-width:768px){

    body{
        padding:20px 10px;
    }

    .right{
        padding:25px;
    }

    .header h1{
        font-size:28px;
    }
}

/* mobile */

@media(max-width:480px){

    .top-buttons{
        flex-direction:column;
    }

    .btn{
        width:100%;
        text-align:center;
    }

    .header h1{
        font-size:22px;
    }

    .header h2{
        font-size:16px;
    }

    .job li,
    .section li{
        font-size:13px;
    }
}

/* impression */

@media print{

    @page{
        margin:0;
    }

    #tele,
    #acc{
        display:none;
    }
}