* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #41431B;
    --Secondarycolor: #AEB784;
    --uxTitleColor: #A4955B;
}


.container {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 900px;
    margin: 40px auto;
    min-height: 100vh;
    border: 1px solid #ccc;
    position: relative;
}

.profilContainer {
    width: 85%;
    top: 5%;
    left: 15%;
    padding: 20px 20px 20px 100px;
    position: absolute;
    background-color: var(--Secondarycolor);
    display: flex;
    gap: 20px;

}

.sidebar {
    background-color: var(--primaryColor);

}

.main {

    background-color: white;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid white;
}

.photoContainer {
    left: -60px;
    width: 140px;
    height: 140px;
    position: absolute;
}

.textContain {
    margin-left: 10%;

}

.nom {
    padding-bottom: 10px;
    color: var(--primaryColor);
    font-weight: 90;

    & span {
        text-transform: uppercase;
        font-weight: bold;
    }
}

.job {
    color: var(--primaryColor);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 8px;

}



.sidebar-section {
    display: flex;
    flex-direction: column;

    padding-top: 250px;
}

.sidebar-section-competence {
    padding-top: 15px;
}

.coordonnee {
    display: flex;
    padding-left: 40px;
    padding-top: 10px;
}

.logo {
    width: 20px;
    height: 20px;
}

.point {
    width: 10px;
    height: 10px;
}

.sidebar-section-title {
    text-transform: uppercase;
    padding-left: 40px;
}

.sidebar-section-title,
.info p {
    color: #AEB784;
}

.info {
    padding-left: 10px;
}

.info p {
    font-size: 14px;
}

.contain {
    padding-top: 260px;

    flex-direction: column;

    & .titre {
        text-transform: uppercase;
        color: var(--primaryColor);
        padding-left: 20px;
    }

    & .ux-title {
        padding-top: 15px;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }

    & .lieu {
        padding-left: 50px;
    }

    & .date {
        padding-right: 50px;
        padding-top: 10px;

        & h5 {
            color: #4B4B4B;
        }
    }

    & .task {
        color: var(--uxTitleColor);
        font-size: 23px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.done {
    display: flex;
    padding-left: 60px;
    padding-right: 50px;
}

.liste {
    width: 10px;
    height: 10px;
    margin-top: 10px;
}

.info .task-title {
    font-size: 17px;
    padding-top: 5px;
    color: black;
}

.formation {
    padding-top: 10px;

}